#left-eye {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#poems {
  color: white;
  background-color: #d82126;
}

.song {
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .row > * {
    max-height: 700px;
  }
}

@media only screen and (min-width: 992px) {
  .row > * {
    max-height: 505px;
  }
}

@media only screen and (min-width: 1199px) {
  .row > * {
    max-height: 408px;
  }
}
