.audio-text {
	text-align-last: justify;
}

.projects {
	position: relative;
	top: 90px;
	display: flex;
	flex-direction: column;
	padding-bottom: 130px;
}

.apply {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 32px;
	border: 2px solid #da2326;
}
.card {
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin: 1rem;
	transition: transform 0.2s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.card-img img {
	width: 100%;
	height: auto;
}

.card-text {
	font-size: 16px;
	line-height: 1.6;
}
.btn {
	border: 1px solid #ff4500;
}

.btn-cta {
	background: transparent;
	/* color: #fff; */

	transition: background 3s ease-in-out;
}

.mr-3 {
	margin-bottom: 1rem;
}

.google-map{
	min-width: 500px;
}
.btn-cta:hover {
	background: linear-gradient(0deg, #ffd034, #d82126);
}

.form_mailing {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_mailing > * {
	min-height: 36px;
}

.embed-responsive {
	height: 300px;
}

#soundcloud_embeds {
	gap: 2rem;
}
.sc-ml {
	margin-left: 9rem;
}

@media screen and (max-width: 767px) {
	.apply {
		margin-bottom: 4rem !important;
	}

	.apply h4 {
		font-size: 18px;
	}

	.cta-btn {
		width: 100% !important ;
	}

	.form_mailing .w-50,
	button {
		width: 100% !important;
	}
}
